.container{
    background-color: antiquewhite;
    color: brown;
    width: 65%;
    margin: 1% auto;
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin: 1%;
}
.myform{
    display: flex;
    flex-direction: column;
    align-content: start;
}
#subBtn{
    background-color: brown;
    color: antiquewhite;
    padding: 1.5% 5%;
    font-size: x-large;
    margin: 5% 0;
}
input{
    font-size: large;
    color: brown;
    border: solid 1px brown;
}