<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/htmlTask1.css">
</head>

<body>
    <header>
        <div><a href="#"><img src="ref/htmlTask1/Logo.svg" alt="Logo"></a></div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">landings <img src="ref/htmlTask1/down-arrow.png"></a></li>
                <li><a href="#">Pages <img src="ref/htmlTask1/down-arrow.png"></a></li>
                <li><a href="#">Docs</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <button>Get it now</button>
        </nav>
    </header>
    <section id="HeroSec">
        <div class="container">
            <div class="divHero">

                <div><img src="ref/htmlTask1/Hero.png" alt="hero img" id="heroImg"></div>
                <div class="wordWrap">
                    <h2>Make your new life happier.</h2>
                    <p>We work with serveral leading insurance companies to secure insurance coverages tailored to meet your
                        needs.</p><button class="solidbtn">Get a consultation</button>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">

            <div class="textBox">
                <h4>OUR SERVICES</h4>
                <h2>insurance made simple for you</h2>
                <p>We work with serveral leading insurance companies to secure insurance coverages tailored to meet your
                    needs.</p>
                <div class="row fSmall">
                    <div class="col"><img src="ref/htmlTask1/Checked.svg" class="iconSmall"><label>Flexible products to make your
                            life easier</label></div>
                    <div class="col"><img src="ref/htmlTask1/Checked.svg" class="iconSmall"><label>Highest standards of
                            service</label></div>
                    <div class="col"><img src="ref/htmlTask1/Checked.svg" class="iconSmall"><label>Fast and reilable
                            service</label></div>
                </div>
            </div>
            <div class="row mt60">
                <div class="card">
                    <div class="icon"><img src="ref/htmlTask1/Icon_Home.svg" alt="Home"></div>
                    <div class="cardText">
                        <h3>Home insurance</h3>
                        <p>Home insurance is a type of insurance policy that provides cover for your home.</p>
                        <a href="#">Learn more &#x2192;</a>
                    </div>
                </div>
                <div class="card">
                    <div class="icon"><img src="ref/htmlTask1/Icon_Blood_Donation.svg" alt="Home"></div>
                    <div class="cardText">
                        <h3>Life insurance</h3>
                        <p>Helping you bridge gaps in your health care coverage during times of transition.</p>
                        <a href="#">Learn more &#x2192;</a>
                    </div>
                </div>
                <div class="card">
                    <div class="icon"><img src="ref/htmlTask1/Icon_Car.svg" alt="Home"></div>
                    <div class="cardText">
                        <h3>Car insurance</h3>
                        <p>car insurance is a type of insurance policy that provides cover for your car.</p>
                        <a href="#">Learn more &#x2192;</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="tipsSec">
        <div class="container">
            <div class="textBox">
                <h4>OUR TIPS FOR YOU</h4>
                <h2>Reinventing your protection</h2>
                <p>We share common trends,strategies ideas, opinions, short & long stories from the team behind company.
                </p>
            </div>
            <div class="row mt60">
                <div class="cardImg" style="background-image:
                linear-gradient(to bottom,rgba(24, 59, 86, 0),rgba(22, 49, 70, 0.45),rgba(21, 37, 50, 1)),
                url('ref/htmlTask1/Image.png');">
                    <h3>How to prevent and protect your family from Carbon monoxide</h3>
                </div>
                <div class="cardImg" style="background-image:
                linear-gradient(to bottom,rgba(24, 59, 86, 0),rgba(22, 49, 70, 0.45),rgba(21, 37, 50, 1)),
                url('ref/htmlTask1/Image2.png');">
                    <h3>Motherhood is the hardest and the best job ever</h3>
                </div>
            </div>
        </div>
    </section>
    <section id="benefitSec">
        <div class="container hr">
            <div class="row">
                <div class="card">
                    <h4>YOUR BENEFITS</h4>
                    <h2>We're your right insurance advocate</h2>
                </div>
                <div class="card">
                    <div class="icon"><img src="ref/htmlTask1/Donation.svg" alt="Donation"></div>
                    <div class="cardText">
                        <h3>We have the best prices</h3>
                        <p>Our insurance plans offers are priced the same everywhere else. We just make them easier for
                            you
                            to find.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="icon"><img src="ref/htmlTask1/Icon_Protection.svg" alt="protection"></div>
                    <div class="cardText">
                        <h3>We're your insurance advocate</h3>
                        <p>We deal with the insurance companies for you, even after you've bought your plan.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="icon"><img src="ref/htmlTask1/Icon_Neutron.svg" alt="Neutron"></div>
                    <div class="cardText">
                        <h3>We're unbiased</h3>
                        <p>Our online tools help you decide what product is best for you. We're here to insurance plan
                            you
                            choose.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="icon"><img src="ref/htmlTask1/Icon_CS.svg" alt="cs"></div>
                    <div class="cardText">
                        <h3>We're available 24/7</h3>
                        <p>We have your back 24/7 between our online chat function, email and telephone support.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="icon"><img src="ref/htmlTask1/Icon_Like.svg" alt="Like"></div>
                    <div class="cardText">
                        <h3>We make insurance simple</h3>
                        <p>We're committed to making appplying for insurance as simple as can be for our customers.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="reviewSec">
        <div class="container">

            <div class="row">
                <div class="reviewCol">
                    <div class="reviewRow">
                        <img src="ref/htmlTask1/Avatar.png" alt="Avatar" class="iconBig">
                        <img src="ref/htmlTask1/Avatar-1.png" alt="Avatar" class="iconBig">
                        <img src="ref/htmlTask1/Avatar-2.png" alt="Avatar" class="iconBig">
                    </div>
                    <div><label><strong>Friendly</strong> customer support team</label></div>
                </div>
                <span class="Big">/</span>
                <div class="reviewCol">
                    <div class="reviewRow">
                        <img src="ref/htmlTask1/trustpilot-logo.svg" alt="logo">
                    </div>
                    <div class="reviewRow">
                        <img src="ref/htmlTask1/s.svg" alt="star">
                        <img src="ref/htmlTask1/s.svg" alt="star">
                        <img src="ref/htmlTask1/s.svg" alt="star">
                        <img src="ref/htmlTask1/s.svg" alt="star">
                        <img src="ref/htmlTask1/s.svg" alt="star">
                    </div>
                    <div><label>4.6 out of 5 stars from 8.6k reviews</label></div>
                </div>
                <span class="Big">/</span>
                <div class="reviewCol">
                    <div class="reviewRow"><img src="ref/htmlTask1/Icon_Like.svg" alt="Like" class="iconBig"></div>
                    <div class="reviewRow"><label>We're making insurance as simple as can be</label></div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footerRow">

                <div>
                    <img src="ref/htmlTask1/Logo_white.svg">
                    <p>Bulid a modern and creative website with crealand</p>
                    <div class="footerRow">
                        <a href="#"><img src="ref/htmlTask1/google.png" alt="google" class="MR-15"></a>
                        <a href="#"><img src="ref/htmlTask1/twitter.png" alt="twitter" class="MR-15"></a>
                        <a href="#"><img src="ref/htmlTask1/instagram.png" alt="instagram" class="MR-15"></a>
                        <a href="#"><img src="ref/htmlTask1/linkedin.png" alt="linkedin" class="MR-15"></a>
                        <a href="#"><img src="ref/htmlTask1/youtube.png" alt="youtube" class="MR-15"></a>

                    </div>
                </div>

                <div>

                    <div>
                        <h2 class="whiteText">Ready to insured? Submit your request and hear back as soon as tomorrow
                        </h2>
                    </div>
                    <div>
                        <form>
                            <input type="text" placeholder="Your Email" class="EmailInput">
                            <button type="submit" class="solidbtn">Get started</button>
                            <!-- <input type="submit" class="solidbtn"> -->
                        </form>
                    </div>
                    <div>
                        <p class="copyRight">Copyright &copy; 2019. Crafted with love.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>