<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/htmlTask3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Ribeye&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div class="container headerRow">
            <div>
                <img src="ref/htmlTask3/HireX_black.png" alt="Logo">
            </div>
            <nav>
                <ul class="navRow">
                    <li><a href="#">Works</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><button class="heroRow">We're Hiring <img src="ref/htmlTask3/arrow-right.png" class="pl5"></button></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="my120">
        <div class="container heroRow">
            <div class="heroCol">

                <div class="heroRow">
                    <p>WELCOME TO HIREX.</p><img src="ref/htmlTask3/Star 1.png">
                </div>
                <h1 class="w80">Award Winning Digital Agency.</h1>
                <p class="fm22 w50">Digital Agency offering unique solutions to create digital presence and increase your sales.</p>
                <form>
                    <input type="text" placeholder="Your email address">
                    <button>RequestAccess</button>
                </form>
                <div class="divImg"><span>Open account and get 5 boxes</span></div>
            </div>
            <div class="heroImg">
                <div class="Vacter1">
                    <img src="ref/htmlTask3/image 2 (Traced).png" class="abImg">
                    <label class="ribeye-regular abText">Web Design</label>
                </div>
                <div class="Vacter2">
                    <img src="ref/htmlTask3/image 6 (Traced).png" class="abImgV2">
                    <label class="ribeye-regular abTextV2">Social Midia</label>
                </div>
                <div class="Vacter3">
                    <img src="ref/htmlTask3/image 1 (Traced).png" class="abImgV3">
                    <label class="ribeye-regular abTextV3">UIX Design</label>
                </div>
                <img src="ref/htmlTask3/Group 6.png" class="abImg4">
            </div>
        </div>
    </section>
    <section class="bgBlack" >
        <div style="position: relative; width: 100%; height: 100px; overflow: hidden;">

            <div class="Banner MQ">
                <label>GET ACCESS NOW!</label>
                <img src="ref/htmlTask3/image-fBLQvAFN1-transformed 1.png">
                <span>|</span>
                <label>GET ACCESS NOW!</label>
                <img src="ref/htmlTask3/image-fBLQvAFN1-transformed 1.png">
                <span>|</span>
                <label>GET ACCESS NOW!</label>
                <img src="ref/htmlTask3/image-fBLQvAFN1-transformed 1.png">
                
            </div>
            
        </div>
    </section>
    <section class="my120">
        <div class="container">

            <div class="serviceText pb30">
                <label class="fillLable bgOrange textWhite">Services</label>
                <h2 class="inter-semiBold">How Hirex. Work</h2>
                <p class="wordWrap">The awesome people who makes all this possible</p>
            </div>
            <div class="serviceRow">
                <div class="card w25">
                    <label >Start Here</label>
                    <h3>Who we are & what we do</h3>
                    <img src="ref/htmlTask3/Designer _Flatline 1.png">
                    <button class="BoxBtn bgGreen textWhite ">START HERE<img src="ref/htmlTask3/arrow-right.png" class="pl5"></button>
                </div>
                <div class="card w25">
                    <label >CUSTOM DESIGN</label>
                    <h3>We'll design your projects</h3>
                    <img src="ref/htmlTask3/Notifications_Flatline 1.png">
                    <button class="BoxBtn bgYellow">START HERE <img src="ref/htmlTask3/arrow-right-black.png" class="pl5"></button>
                </div>
                <div class="card w25">
                    <label >CONTACT US</label>
                    <h3>Drop us your message!</h3>
                    <img src="ref/htmlTask3/Fortnite_Two Color 1.png">
                    <button class="BoxBtn bgOrange">START HERE <img src="ref/htmlTask3/arrow-right-black.png" class="pl5"></button>
                </div>
            </div>
        </div>
    </section>
    <section class="my120">
        <div class="container">
            <div class="serviceText pb30">
                <label class="fillLable bgBlue textWhite">Works</label>
                <h2 class="inter-semiBold">Find our latetest works</h2>
                <p class="wordWrap">The awesome people who makes all this possible</p>
            </div>
            <div class="workRow">
                <div class="workRowcol">
                    <img src="ref/htmlTask3/Rectangle 13.png" class="pb30">
                   <div>
                       <label class="fillLable">Web design</label>
                       <h3>Website Design For Digital Agency</h3>
                       <p>Build a unique Website with HireX Template</p>
                       <a href="#">Read more &#x2192;</a>
                    </div>
                </div>
                <div class="workRowcol">
                    <img src="ref/htmlTask3/Rectangle 13-1.png" class="pb30">
                    <div>
                        <label class="fillLable">3D Design</label>
                        <h3>Realistic 3d Model of Living Room</h3>
                        <p>Build a unique Website with HireX Template</p>
                        <a href="#">Read more &#x2192;</a>
                     </div>
                </div>
            </div>
            <button class="BoxBtn bgYellow floatR">View All <img src="ref/htmlTask3/arrow-right-black.png" class="pl5"></button>
        </div>
    </section>
    <section class="my120">
        <div class="container">
            <div class="serviceText pb50">
                <h2 class="inter-semiBold">Plans & Pricing</h2>
                <p class="wordWrap">The awesome people who makes all this possible</p>
            </div>
            <div class="serviceRow cardRow">
                <div class="card w27 pCard">
                    <h3>FREE</h3>
                    <h2 class="f50">$0<span class="fm22">/MONTH</span></h2>
                    <p class="textAlineCen">Start free while you learn more about Our sevices</p>
                    <div class="divHr"></div>
                    <div class="heroCol pb30">
                        <lable>&#x2714; Free forever get the basic essentials</lable>
                        <lable>&#x2714; Advanced security and performance</lable>
                        <lable>&#x2714; Unlimited unhosted sites</lable>
                        <lable>&#x2714; Live support</lable>
                    </div>
                    <button class="BoxBtn bgYellow">GET STARTED</button>
                </div>
                <div class="card w27 pCard">
                    <h3>BASIC</h3>
                    <h2 class="f50">$19<span class="fm22">/MONTH</span></h2>
                    <p class="textAlineCen">Get powerful tools to make your business grow</p>
                    <div class="divHr"></div>
                    <div class="heroCol pb30">
                        <lable>&#x2714; Free forever get the basic essentials</lable>
                        <lable>&#x2714; Advanced security and performance</lable>
                        <lable>&#x2714; Unlimited unhosted sites</lable>
                        <lable>&#x2714; Live support</lable>
                    </div>
                    <button class="BoxBtn bgOrange">GET STARTED</button>
                </div>
                <div class="card w27 pCard">
                    <h3>PRO</h3>
                    <h2 class="f50">$99<span class="fm22">/MONTH</span></h2>
                    <p class="textAlineCen">Take your business to the next level with our tools</p>
                    <div class="divHr"></div>
                    <div class="heroCol pb30">
                        <lable>&#x2714; Free forever get the basic essentials</lable>
                        <lable>&#x2714; Advanced security and performance</lable>
                        <lable>&#x2714; Unlimited unhosted sites</lable>
                        <lable>&#x2714; Live support</lable>
                    </div>
                    <button class="BoxBtn bgGreen">GET STARTED</button>
                </div>
            </div>
        </div>
    </section>
    <section class="bgLightGreen my120">
        <div class="container py50 navRow">
            <img src="ref/htmlTask3/arrow-left-2.png" style="opacity: 0.4;">
                <div class="ImgFram" style="background-image: url('ref/htmlTask3/testimonials-img.png');">
                    <label class="heroRow fillLable bgYellow">@mase.place<img src="ref/htmlTask3/arrow_top-right.png" class="bgGreen m5"></label>
                </div>
                <div class="w50">
                    <h2>"We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds"</h2>
                    <p>Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of more than 3.2 million followers on the platform.</p>
                </div>
            <img src="ref/htmlTask3/arrow-right-2.png">
        </div>
    </section>
    <section class="my120">
        <div class="container">
            <div>
                <label class="fillLable bgPink textWhite">Blog</label>
                <h2 class="inter-semiBold">Stay updated</h2>
            </div>
            <div class="workRow">
                <div class="workRowcol w48 ">
                    <img src="ref/htmlTask3/Rectangle 19.png" class="pb30">
                   <div>
                       <label class="fillLable">Web design</label>
                       <h3>We Launch Minerva Template this Week!</h3>
                       <p>Build a unique Website with HireX Template</p>
                       <a href="#">Read more &#x2192;</a>
                    </div>
                </div>
                <div class="workRowcol w48">
                    <img src="ref/htmlTask3/Rectangle 20.png" class="pb30">
                    <div>
                        <label class="fillLable">Web design</label>
                        <h3>Introducing the Non-Code Webflow Guide</h3>
                        <p>Build a unique Website with HireX Template</p>
                        <a href="#">Read more &#x2192;</a>
                     </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bgBrightYellow">
        <div class="container py50 heroRow">
            <div class="w80">
                <h2>Get our latests news & updates</h2>
                <div class="Borderunderline heroRow">
                    <p>Name</p><input type="text" name="name" class="blInput bgBrightYellow">
                </div>
                <div class="Borderunderline heroRow">
                    <p>Email</p><input type="text" name="email" class="blInput bgBrightYellow">
                </div>
                <div class="Borderunderline navRow">
                    <p >Subscribe</p><img src="ref/htmlTask3/arrow-right-black.png">
                </div>
            </div>
            <div>
                <p>We select to practice in Minerva since it is both useful and commonsense, and our clients basically adore it</p>
                <label class="fillLable">Book a Call</label>
            </div>
        </div>
    </section>
    <section class="bgBlack">
        <div style="position: relative; width: 100%; height: 50px; overflow: hidden;">
            <div class="Banner MQ">
                <label>THANK YOU FOR YOUR VISIT</label>
                <img src="ref/htmlTask3/Line 4.png">
                <label>THANK YOU FOR YOUR VISIT</label>
                <img src="ref/htmlTask3/Group 59.png">
                <label>THANK YOU FOR YOUR VISIT</label>
            </div>
        </div>
    </section>
    <footer class="bgOffWhite pt50">
        <div class="container">
            <h2>HireX.</h2>
            <hr>
            <div class="BaseLineRow">
                <div class="heroCol">
                    <p>Products</p>
                    <div class="heroCol">
                        <label>Platform</label>
                        <label>Store Overview</label>
                        <label>Email Reports</label>
                        <label>Portfolio</label>
                    </div>
                </div>
                <div class="heroCol">
                    <p>Resources</p>
                    <div class="heroCol">
                        <label>Case Studies</label>
                        <label>Product Guides</label>
                        <label>Reports</label>
                        <label>Blog</label>
                        <label>FAQs</label>
                    </div>
                </div>
                <div class="heroCol">
                    <p>Company</p>
                    <div class="heroCol">
                        <label>Careers</label>
                        <label>Contact Sales</label>
                        <label>Contact Support</label>
                    </div>
                </div>
                <div class="heroCol">
                    <p>Partners</p>
                    <div class="heroCol">
                        <label>Partner With Us</label>
                    </div>
                </div>
            </div>
            <div class="navRow pt50 pb30">
                <div class="headerRow">
                    <a>Terms and Conditions</a>
                    <a>Privcy Policy</a>
                </div>
                <div>
                    <p>&copy;HIREX,Inc.2022</p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        var len = 100
        setInterval(function(e){
            if(len == 1800)
            {
                len = -1800;
            }
            var arrlen = document.getElementsByClassName("MQ").length;
            for(i=0;i<arrlen;i++)
            {
                document.getElementsByClassName("MQ")[i].setAttribute("style","right: "+len+"px;");
                len+=5;
            }
        },150)
        function initFun()
        {
            var len = document.getElementsByClassName("slidCon").length;
            for(i=1;i<len;i++)
            {
                document.getElementsByClassName("slidCon")[i].setAttribute()
            }
        }
    </script>
</body>

</html>