<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/htmlTask2.css">
    <link href='https://fonts.googleapis.com/css?family=Sarpanch' rel='stylesheet'>
</head>

<body>
    <header class="c1">
        <div class="container row">

            <div>
                <img src="ref/htmlTask2/Logo.png" alt="Logo">
            </div>
            <nav>
                <ul class="liRow">
                    <li><a href="#">Hosting</a></li>
                    <li><a href="#">Integration</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="#" class="outbtn">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="c1">
        <div class="container row">
            <div class="w50">
                <h1>Hosting Services for your website</h1>
                <p>Easily and reliably host a website for your business, organization, or project while retaining
                    complete control over your site’s underlying infrastructure.</p>
                <div>
                    <button class="solidbtn">Get Started</button>
                    <button class="outbtn">Get Migration Help</button>
                </div>
                <div class="mt50">

                    <a href="#"><img src="ref/htmlTask2/arrow-down.png"></a>
                </div>
            </div>
            <div>
                <img src="ref/htmlTask2/portrait-confident-bearded-man-using-laptop-computer 1.png">
            </div>
        </div>
    </section>
    <section class="c1 pt50 p50">
        <div class="container row">
            <div class="w20" style="align-items: center;">
                <p class="S2p">Those Who Have Experienced The Best Performance</p>
            </div>
            <div class="row w80">
                <img src="ref/htmlTask2/Telkom Indonesia Logo.png">
                <img src="ref/htmlTask2/Jetstar Airways Logo.png">
                <img src="ref/htmlTask2/Nescafe Logo.png">
                <img src="ref/htmlTask2/Lenovo Logo.png">
            </div>

        </div>
    </section>
    <section class="p50">
        <div class="container row mt50">
            <div class="">
                <img src="ref/htmlTask2/Group 3552.png">
            </div>
            <div class="">
                <h2>Boost the Speed of Your Website</h2>
                <div class="wrapRow">
                    <div class="w50">
                        <h3>Faster Build Process</h3>
                        <p>We can speed up the process of creating your website</p>
                    </div>
                    <div class="w50">
                        <h3>Faster Delivery</h3>
                        <p>Our purchases and services can be completed quickly</p>
                    </div>
                    <div class="w50">
                        <h3>Faster Access Speed</h3>
                        <p>Superb network infrastructure and hardware to support fast and stable access</p>
                    </div>
                    <div class="w50">
                        <h3>24/7 Faster Service</h3>
                        <p>We have a response time of less than 180 seconds, available 24 hours a day</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p50">
        <div class="container">
            <div class="w70 mAuto">
                <h2>Host Any Website With Our Fully Managed Services</h2>
            </div>
            <div class="row">
                <div class="card c2">
                    <div class="c1 grayText p10">
                        <div class="rowOnly"><img src="ref/htmlTask2/cloud-sunny.png" class="icon">
                            <h3>Cloud hosting</h3>
                        </div>
                        <p class="cardP">Cloud Hosting is a good fit for those of you who are building personal
                            websites, portfolios, blogs, and other systems</p>
                    </div>
                    <h2>$5.9<span>/month</span></h2>
                    <button class="outbtn">More Detail</button>
                </div>
                <div class="card c2">
                    <div class="c1 grayText p10">
                        <div class="rowOnly"><img src="ref/htmlTask2/buildings.png" class="icon">
                            <h3>Corporate</h3>
                        </div>
                        <p class="cardP">Provides business-related hosting services, such as websites or management
                            systems for companies</p>
                    </div>
                    <h2>$19<span>/month</span></h2>
                    <button class="outbtn">More Detail</button>
                </div>
                <div class="card c2">
                    <div class="c1 grayText p10">
                        <div class="rowOnly"><img src="ref/htmlTask2/driver.png" class="icon">
                            <h3>Cloud VPS</h3>
                        </div>
                        <p class="cardP">A scalable, fully-managed virtual private server we build and optimize
                            specifically for your website.</p>
                    </div>
                    <h2>$29<span>/month</span> </h2>
                    <button class="outbtn">More Detail</button>
                </div>
                <div class="card c2">
                    <div class="c1 grayText p10">
                        <div class="rowOnly"><img src="ref/htmlTask2/monitor-mobbile.png" class="icon">
                            <h3>Dedicated</h3>
                        </div>
                        <p class="cardP">Your mission-critical website requires the performance and security of a
                            dedicated physical server.</p>
                    </div>
                    <h2>$119<span>/month</span> </h2>
                    <button class="outbtn">More Detail</button>
                </div>
            </div>
        </div>
    </section>
    <section class="mt50 p50">
        <div class="container row c2">

            <div class="w30">
                <div class="rowOnly p20  tabT" onclick="tabWPFun()" style="opacity: 1; background-color: #F0F6FF">
                    <img src="ref/htmlTask2/WordPress.com Logo.png"><label class="tabTitle">WordPress</label>
                </div>
                <div class="rowOnly p20  tabT" onclick="tabMFun()" style="opacity: 0.5;">
                    <img src="ref/htmlTask2/Magento Commerce Logo.png"><label class="tabTitle">Magento</label>
                </div>
                <div class="rowOnly p20 tabT" onclick="tabLFun()" style="opacity: 0.5;">
                    <img src="ref/htmlTask2/Laravel Logo.png"><label class="tabTitle">Laravel</label>
                </div>
                <div class="rowOnly p20 tabT" onclick="tabPFun()" style="opacity: 0.5;">
                    <img src="ref/htmlTask2/PHP Logo.png"><label class="tabTitle">PHP</label>
                </div>
            </div>
            <div class="w70">
                <div class="tabName w80" style="display: block;">
                    <h2>The Best Managed Cloud Hosting for WordPress</h2>
                    <p>We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce takes away cloud
                        server related hassles so you can scale your website the way you want.</p>
                    <div class="wrapRow w80 liRow">
                        <div><img src="ref/htmlTask2/Vector.png"><span>Unlimited Bandwidth</span></div>
                        <div><img src="ref/htmlTask2/Vector.png"><span>Network Speed</span></div>
                        <div><img src="ref/htmlTask2/Vector.png"><span>Turbo Power</span></div>
                        <div><img src="ref/htmlTask2/Vector.png"><span>Xtreme Freedom</span></div>
                    </div>
                    <button class="solidbtn mt50">More Detail</Details></button>
                </div>
                <div class="tabName" style="display: none; ">
                    <h2>Magento</h2>
                </div>
                <div class="tabName" style="display: none; ">
                    <h2>Laravel</h2>
                </div>
                <div class="tabName" style="display: none; ">
                    <h2>PHP</h2>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <h2 class="w50">How Our Customers Feel About Us</h2>
                <div>
                    <img src="ref/htmlTask2/arrow-left.png" class="icon" onclick="slidRightFun()">
                    <img src="ref/htmlTask2/arrow-right.png" class="icon" onclick="slidLeftFun()">
                </div>
            </div>
            <div style="position: relative; width: 1140px; overflow: hidden; height: 500px;">
                <div class="slid rowOnly">
                    <div class="outCard">
                        <img src="ref/htmlTask2/profile.png">
                        <div class="rowJCC">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                        </div>
                        <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                        <h3>Guy Hawkins</h3>
                        <span>Manager</span>
                    </div>
                    <div class="outCard">
                        <img src="ref/htmlTask2/profile.png">
                        <div class="rowJCC">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                        </div>
                        <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                        <h3>Guy Hawkins</h3>
                        <span>Manager</span>
                    </div>
                    <div class="outCard">
                        <img src="ref/htmlTask2/profile.png">
                        <div class="rowJCC">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                        </div>
                        <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                        <h3>Guy Hawkins</h3>
                        <span>Manager</span>
                    </div>
                    <div class="outCard">
                        <img src="ref/htmlTask2/profile.png">
                        <div class="rowJCC">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                        </div>
                        <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                        <h3>Guy Hawkins</h3>
                        <span>Manager</span>
                    </div>
                    <div class="outCard">
                        <img src="ref/htmlTask2/profile.png">
                        <div class="rowJCC">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                        </div>
                        <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                        <h3>Guy Hawkins</h3>
                        <span>Manager</span>
                    </div>
                    <div class="outCard">
                        <img src="ref/htmlTask2/profile.png">
                        <div class="rowJCC">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                            <img src="ref/htmlTask2/Star 2.png">
                        </div>
                        <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                        <h3>Guy Hawkins</h3>
                        <span>Manager</span>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="c1 p50">
        <div class="container">
            <div class="row">
                <div class="w50">
                    <h2>Try it Now and Stop Doubting Anything Else</h2>
                    <p class="w80">With Awan Hoster’s Money Back Guarantee, you can try the best service reliability</p>
                    <div>
                        <button class="solidbtn">Start Free Trial</button>
                        <button class="outbtn">See All Plans</button>
                    </div>
                </div>
                <div class="w50">
                    <img src="ref/htmlTask2/Group 1000008788.png">
                </div>
            </div>
        </div>
    </section>
    <footer class="c3 p50">
        <div class="container row">
            <div class="w30">
                <img src="ref/htmlTask2/logo-white.png">
                <p class="w70">We provide you with the best hosting solutions for your website.</p>
                <div class="row w50">
                    <img src="ref/htmlTask2/FB.png">
                    <img src="ref/htmlTask2/Twi.png">
                    <img src="ref/htmlTask2/Ins.png">
                    <img src="ref/htmlTask2/YT.png">
                    <img src="ref/htmlTask2/D.png">
                </div>
            </div>
            <div class="w70 row">
                <div class="col">
                    <h3>Company</h3>
                    <a href="#">About</a>
                    <a href="#">Blog</a>
                    <a href="#">Leadership</a>
                    <a href="#">Careers</a>
                    <a href="#">legal</a>
                </div>
                <div class="col">
                    <h3>Products</h3>
                    <a href="#">Api</a>
                    <a href="#">Pricing</a>
                    <a href="#">Documentation</a>
                    <a href="#">Release Notes</a>
                </div>
                <div class="col">
                    <h3>Contact</h3>
                    <a href="#">Support</a>
                    <a href="#">Sales</a>
                    <a href="#">Report Abuse</a>
                    <a href="#">System Status</a>
                </div>
            </div>
        </div>
    </footer>

    <script>
        function tabWPFun() {
            document.getElementsByClassName("tabName")[0].setAttribute('style', 'display: block;');
            document.getElementsByClassName("tabT")[0].setAttribute('style', 'opacity: 1; background-color: #F0F6FF')
            tabClear(0);
        }
        function tabMFun() {
            document.getElementsByClassName("tabName")[1].setAttribute('style', 'display: block;');
            document.getElementsByClassName("tabT")[1].setAttribute('style', 'opacity: 1; background-color: #F0F6FF');
            tabClear(1);
        }
        function tabLFun() {
            document.getElementsByClassName("tabName")[2].setAttribute('style', 'display: block;');
            document.getElementsByClassName("tabT")[2].setAttribute('style', 'opacity: 1; background-color: #F0F6FF');
            tabClear(2);
        }
        function tabPFun() {
            document.getElementsByClassName("tabName")[3].setAttribute('style', 'display: block;');
            document.getElementsByClassName("tabT")[3].setAttribute('style', 'opacity: 1; background-color: #F0F6FF');
            tabClear(3);
        }
        function tabClear(i) {
            for (j = 0; j < 4; j++) {
                if (j == i) {
                    continue;
                }
                document.getElementsByClassName("tabName")[j].setAttribute('style', 'display: none');
                document.getElementsByClassName("tabT")[j].setAttribute('style', 'opacity: 0.5;')
            }
        }
        var add = 50;
        function slidRightFun() {
            if (add != 50)
                add += 50;
            document.getElementsByClassName("slid")[0].setAttribute('style', 'left:' + add + 'px;');
        }
        function slidLeftFun() {
            add -= 50;
            document.getElementsByClassName("slid")[0].setAttribute('style', 'left:' + add + 'px;');
        }

    </script>
</body>

</html>