<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/main.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form class="myform" method="post">
            <div class="input-group">
                <label>Email</label>
                <input type="text" name="email">
            </div>
            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password">
                <span id="msg"></span>
            </div>
            <input id="subBtn" type="submit" value="Login">
            <span>Don't have account? <a href="/">Sign up</a></span>
        </form>
        
    </div>
    <script src="JS/main.js"></script>
</body>
</html>